body {
    margin: 0;
    background-color: rgb(235, 230, 225);
    font-family: monospace;
    font-weight: 100;
}
.container {
    width: 80%;
    margin: 0 auto;
}
header::after {
    content: '';
    display: table;
    clear: both;
}
header {
    background-color: rgb(236, 34, 51);

    
}
.logo {
    float: left;
    padding: 10px;
    display: block;
    width: 70px;
    height: 50px;
}
nav {
    float: right;
}
nav ul {
    margin: 0;
    padding: 20px;
    list-style: none;
}
nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 15px;
    position: relative;
}
nav a {
    color: rgb(245, 239, 239);
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover {
    color: #000;
}
nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}
nav a:hover::before {
    width: 100%;;
}
div > h1 {
    text-align: center;
    font-size: 50px;

}
div > p {
    text-align: center;
    padding: 0px;
    font-size: 20px;
    margin-left: 200px;
    margin-right: 200px;
}
.topimage {
    display: block;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
    
}
.seven {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
section {
    padding-top: 50px;
    padding-left: 20px;
}
section > h1 {
    text-align: center;
}
section > p {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    font-size: large;

}
iframe {
    width: 560px;
    height: 315px;
    margin-right: auto;
    margin-left: auto;
    display: block; 
}
div > a:link, a:visited {
    background-color: #eb837e;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
  }
  
  a:hover, a:active {
    background-color: red;
  }
  .row {
    padding: 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    display: block;
    padding: 0 4px;
    text-align: center;
  }
  
  .column img {
    margin-top: 8px;
    text-align: center;
    width: 550px;
    height: 380px;
  }