body {
    margin: 0;
    background-color: rgb(235, 230, 225);
    font-family: monospace;
    text-align: center;
    max-width: 100%;
    
}
.container {
    width: 60%;
    margin: 0 auto;
}
header::after {
    content: '';
    display: table;
    clear: both;
}
header {
    background-color: rgb(236, 34, 51);

    
}
/*section > h2 {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
    text-align: center;
    
}*/
section > p {
    position: relative;
    text-align: center;
    font-size: 20px;
    margin-left: 200px;
    margin-right: 200px;
}
.logo {
    float: left;
    display: block;
    width: 10%;
    height: 10%;
}
nav {
    float: right;
}
nav ul {
    margin: 0;
    padding: 20px;
    list-style: none;
}
nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 15px;
    position: relative;
}
nav a {
    color: rgb(245, 239, 239);
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover {
    color: #000;
}
nav a::before {
    content: '';
    display: block;
    height: 10%;
    width: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}
nav a:hover::before {
    width: 100%;
}
/*div > h1 {
    text-align: center;
    font-size: 50px;

}*/
div > p {
    position: relative;
    text-align: center;
    font-size: 20px;
    margin-left: 200px;
    margin-right: 200px;
}
.topimage {
    display: block;
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
    
}
.seven {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/*section > h1 {
    text-align: center;
    font-size: x-large;
}
/*section > p {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    font-size: large;

}*/
iframe {
    width: 40%;
    height: 315px;
    margin-right: auto;
    margin-left: auto;
    display: block; 
}
div > a:link, a:visited {
    background-color: #eb837e;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
}
a:hover, a:active {
    background-color: red;
}
.row {
    padding: 4px;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    flex: 50%;
    padding: 0 4px;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 60%;
    height: 60%;
}
.column img:hover {
    opacity: 1;
}
.gallery {
    flex: 50%;
    padding: 0 4px; 
} 
.gallery img {
    margin-top: 8px;
    vertical-align: middle;
    width: 60%;
    height: 60%;
}
.desc {
    padding: 15px;
    text-align: center;
    font-size: x-large;
}
